body {
	padding-top: 70px;
}
.wikilink-notexist, .wikilink-notexist:hover, .wikilink-notexist:visited, .wikilink-notexist:active {
	color: #a55858;
}

h1, h2 {
	border-bottom: 1px solid #ccc;
}

.footer {
	text-align:center;
	padding:40px;
}

.footer, .footer a, .footer a:hover, .footer a:active, .footer a:visited {
	color:#ccc;
}

.content > p {
	text-indent: 2.5em;
}
